@page "/admin/banderaedit/{campoid:int}"
@page "/admin/banderaedit/{campoid:int}/{banderaid:int}"
@inherits BanderaEditBase
@inject NotificationService NS
@using GolfV12.Shared;

<h3>@ButtonTexto Bandera</h3>
@if (LaBandera == null)
{
    <div class="spinner"></div>
} else
{
  <RadzenCard>   
  <RadzenTemplateForm TItem="G172Bandera" Data=@LaBandera Submit=@AddBandera >
      <div class="form-grup row">
          <label for="campo" class="col-sm-3 col-form-label">Campo</label>
          <div class="col-sm-9">
              <RadzenLabel Name="Campo" Text="@ElCampo.Corto"/>
              
          </div>
      </div>
      
      <div class="form-grup row">
          <label for="color" class="col-sm-3 col-form-label">Color de la bandera</label>
          <div class="col-sm-9">
                <RadzenTextBox Name="Color" @bind-Value=@LaBandera.Color />
                <RadzenRequiredValidator Component="Color" Text="El Color de la bandera es requerido!" />
          </div>
      </div>
  
    @if (@BanderaId > 0)
        {
            <div class="form-grup row">
                <label for="status" class="col-sm-3 col-form-label">Borrar este registro?</label>
                <div class="col-sm-9">
                    Si!<RadzenSwitch Name="Status" @bind-Value=@LaBandera.Status />NO!
                </div>
            </div>   
        }

        <div class="form-grup row">
            <div class="col-sm-12">
                <NavLink class="nav-link" href="@($"/admin/bandera/{CampoId}")">Cancelar</NavLink>
                <RadzenButton ButtonType="ButtonType.Submit" Text="@ButtonTexto" /> 
            </div>
      </div>
        
    </RadzenTemplateForm>
    </RadzenCard>
}

@code {
    async void AddBandera()
    {
        await SaveBandera();
        ShowNotification(ElMesage);
    }
    public void ShowNotification(NotificationMessage message)
    {
        NS.Notify(message);
    }
}