@page "/admin/playerEdit/{userId}"

@inherits PlayerEditBase
@using GolfV12.Shared;

<h3>Editar Jugador</h3>

@if (ElPlayer == null)
{
    <div class="spinner"></div>
} else
{
  <RadzenCard>   
  <RadzenTemplateForm TItem="G120Player" Data=@ElPlayer Submit=@OnSubmit >
      <div class="form-grup row">
          <label for="apodo" class="col-sm-3 col-form-label">Apodo</label>
                    <div class="col-sm-9">
                        
                    </div>
      </div>
      <div class="form-grup row">
          <label for="apodo" class="col-sm-3 col-form-label">Nombre</label>
          <div class="col-sm-9">
                <RadzenTextBox Name="Nombre" @bind-Value=@ElPlayer.Nombre />
                <RadzenRequiredValidator Component="Nombre" Text="Nombre del jugador es requerido!" />
          </div>
      </div>
      
      <div class="form-grup row">
          <label for="apodo" class="col-sm-3 col-form-label">Paterno</label>
          <div class="col-sm-9">
                <RadzenTextBox Name="Paterno" @bind-Value=@ElPlayer.Paterno />
                <RadzenRequiredValidator Component="Paterno" Text="Apellido del jugador es requerido!" />
          </div>
      </div>
      
      <div class="form-grup row">
        <label for="apodo" class="col-sm-3 col-form-label">Materno</label>
        <div class="col-sm-9">
            <RadzenTextBox Name="Materno" @bind-Value=@ElPlayer.Materno />
       </div>
      </div>

      <div class="form-grup row">
          <label for="apodo" class="col-sm-3 col-form-label">Apodo</label>
          <div class="col-sm-9">
                <RadzenTextBox Name="Apodo" @bind-Value=@ElPlayer.Apodo />
          </div>
      </div>
      
      <div class="form-grup row">
          <label for="apodo" class="col-sm-3 col-form-label">Nacimiento</label>
          <div class="col-sm-9">
                <RadzenDatePicker TValue="DateTime" @bind-Value=@ElPlayer.Bday DateFormat="d"  />
          </div>
      </div>
      
      <div class="form-grup row">
          <label for="nivel" class="col-sm-3 col-form-label">Nivel</label>
          <div class="col-sm-9">
                <RadzenDropDown Name="Nivel" @bind-Value=@ElPlayer.Nivel AllowFiltering="true" 
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    Data=@LosNiveles />
          </div>
      </div>
  
    
      <div class="form-grup row">
      <label for="apodo" class="col-sm-3 col-form-label">Organizacion</label>
            <div class="col-sm-9">
                    <RadzenDropDown Name="Organizacion" @bind-Value=@ElPlayer.OrganizacionId AllowFiltering="true" 
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        Data=@LasOrg TextProperty="Clave" ValueProperty="Id" />
             </div>
      </div>
    
  
     <div class="form-grup row">
          <label for="apodo" class="col-sm-3 col-form-label">Estado</label>
          <div class="col-sm-9">
                <RadzenDropDown Name="Estado" @bind-Value=@ElPlayer.Estado AllowFiltering="true" 
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    Data=@LosEstados TextProperty="Titulo" ValueProperty="Indice" />
          </div>
      </div>
    @if (!UserId.Contains("Temp"))
        {
            <div class="form-grup row">
                <label for="apodo" class="col-sm-3 col-form-label">Borrar este registro?</label>
                <div class="col-sm-9">
                    SI!<RadzenSwitch Name="Status" @bind-Value=@ElPlayer.Status />NO!     
                </div>
            </div>   
        }

        <div class="form-grup row">
            <div class="col-sm-12 oi-align-right">
                <NavLink class="nav-link" href="/admin/player">Cancelar</NavLink>
                <RadzenButton ButtonType="ButtonType.Submit" Text="@ButtonTexto" /> 
            </div>
      </div>
        
    </RadzenTemplateForm>
    </RadzenCard>
}



