@page "/bitacora"

@inherits BitacoraBase
@using GolfV12.Shared;

<h3>Bitacora</h3>

@if (BitacoraAll == null)
{
    <div class="spinner"></div>
} else
{    
  
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" 
        PageSize="45" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
        AllowSorting="true" Data="@BitacoraAll" TItem="G190Bitacora" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="G190Bitacora" Property="Id" Title="Id" Width="60px" Frozen="true" />
            <RadzenDataGridColumn TItem="G190Bitacora" Property="Fecha" Title="Fecha" FormatString="{0:o}" Width="160px" Frozen="true" />
            <RadzenDataGridColumn TItem="G190Bitacora" Property="Accion" Title="Accion" Width="110px" />
            <RadzenDataGridColumn TItem="G190Bitacora" Property="Usuario" Title="Usuario" Width="200px" >
                <Template Context="data">
                    @if (TodosPlayer.ContainsKey(data.UsuarioId)) { @TodosPlayer[data.UsuarioId]} else {<label>@TodosPlayer["Vacio"]</label>}

                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="G190Bitacora" Property="Desc" Title="Descripcion" />

        </Columns>
</RadzenDataGrid>
}


