@page "/players/misdatos"
@using GolfV12.Client.Servicios.IFaceServ;
@using GolfV12.Shared;
@inject NotificationService NS
@inherits MisdatosBase

<h3>Mis Datos</h3>

@if(Midata == null)
{
    <div class=spinner></div>
}
else
{
    <RadzenTabs RenderMode="TabRenderMode.Client" @bind-SelectedIndex=selectedIndex >
    <Tabs>
        <RadzenTabsItem Text="Customers">
            Customers
        </RadzenTabsItem>
        <RadzenTabsItem Text="Favoritos">
            Favoritos
        </RadzenTabsItem>
        <RadzenTabsItem Text="Mis Datos">
            
            <EditForm Model="@Midata" OnSubmit="actualizarMisDatos">
                <div class="form-grup row">
                    <label for="disdatos" class="col-sm-2 col-form-label">Deseas Editar tus datos?</label>
                    <div class="col-sm-10">
                        Si!<RadzenSwitch Name="Disdatos" @bind-value="EditarMisDatos"  />No!
                        
                    </div>
                </div>
                <div class="form-grup row">
                    <label for="apodo" class="col-sm-2 col-form-label">Apodo</label>
                    <div class="col-sm-10">
                        <RadzenTextBox @bind-Value="Midata.Apodo" class="form-control" Disabled=@EditarMisDatos />
                    </div>
                </div>
                <div class="form-grup row">
                    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <RadzenTextBox @bind-Value="Midata.Nombre" class="form-control" Disabled=@EditarMisDatos/>
                    </div>
                </div>
                <div class="form-grup row">
                    <label for="paterno" class="col-sm-2 col-form-label">Paterno</label>
                    <div class="col-sm-10">
                        <RadzenTextBox @bind-Value="Midata.Paterno" class="form-control" Disabled=@EditarMisDatos />
                    </div>
                </div>
                <div class="form-grup row">
                    <label for="materno" class="col-sm-2 col-form-label">Materno</label>
                    <div class="col-sm-10">
                        <RadzenTextBox @bind-Value="Midata.Materno" class="form-control" Disabled=@EditarMisDatos />
                    </div>
                </div>
                
                <RadzenButton style="width: 160px" ButtonType="ButtonType.Submit" Text="Actualizar" Disabled=@EditarMisDatos />
            
            </EditForm>
            <RadzenCard>
                <MiHcp />
            </RadzenCard>

            <RadzenCard>
                Listado de Mis Handy
            </RadzenCard>

        </RadzenTabsItem>

        

        <RadzenTabsItem Text="Mi Historia">
            Order Details
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

}


@code {

    int selectedIndex = 0;

    async void actualizarMisDatos()
    {
        await MisDatosUpdate();
        ShowNotification(elMesage);
        
    }
    public void ShowNotification(NotificationMessage message)
    {
        NS.Notify(message);
    }
    

}
