@page "/players/misdatos"
@using GolfV12.Client.Servicios.IFaceServ;
@using GolfV12.Shared;
@inject NotificationService NS
@inherits MisdatosBase


@if(!NombresGeneral.Any()  || !CamposGeneral.Any() )
{
    <div class=spinner></div>
}
else
{
    <RadzenTabs RenderMode="TabRenderMode.Client" @bind-SelectedIndex=selectedIndex >
    <Tabs>
        <RadzenTabsItem Text="Lista de Tarjetas">
            <RadzenCard>

                <MisTarjetas ElEstado="1" DicHijo=@DicGeneral LosNombres=@NombresGeneral LosCampos=@CamposGeneral OnInsertJugador=@AgregarJugadores />
                <br />
                <br />
                <hr >
                <h3>Listado historico de tarjetas</h3>
                <MisTarjetas ElEstado="3" DicHijo=@DicGeneral LosNombres=@NombresGeneral LosCampos=@CamposGeneral />
               
            </RadzenCard>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Jugadores" >
            <RadzenCard>
 <!--               <LosJugadores DicHijo=@DicGeneral LosNombres=@NombresGeneral TarjetaHijo=@TarjetaGeneral LosJugadores=JugadoresGeneral/>--> 
            </RadzenCard>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Favoritos">
            <MisExtrasTipo />
        </RadzenTabsItem>

        <RadzenTabsItem Text="Mi Configuracion">
            <RadzenCard>
                <MiListaHcp DicHijo=@DicGeneral LosCampos=@CamposGeneral />
                <br>
                <br>
                <MisAzar DatosDic=@DicGeneral />
            </RadzenCard>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Mis Datos">
            <RadzenCard>
                <MiNombre />
            </RadzenCard>
            
        </RadzenTabsItem>

        

        <RadzenTabsItem Text="Mi Historia">
            Order Details
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

}


@code {

   /*
    * <MisTarjetas ElEstado="1" DicHijo=@DicGeneral LosNombres=@NombresGeneral LosCampos=@CamposGeneral OnInsertJugador=@AgregarJugadores />
    * <MisTarjetas ElEstado="3" DicHijo=@DicGeneral LosNombres=@NombresGeneral LosCampos=@CamposGeneral />
    */
        
    
    public void ShowNotification(NotificationMessage message)
    {
        NS.Notify(message);
    }
    

}
