@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a href="players/misdatos">  Mis Datos  </a>
        
        <a href="authentication/profile">Hola crayola, @context.User.Identity?.Name!</a>
        <RadzenMenu>
                        <RadzenMenuItem Text="Administracion" Icon="home" >
                            <RadzenMenuItem Style="color:black" Text="Organizaciones" Icon="oi-plus" Path="/admin/organizacion"></RadzenMenuItem>
                            <RadzenMenuItem Style="color:black" Text="Jugadores" Icon="oi-plus" Path="/admin/player">Jugadores</RadzenMenuItem>
                            <RadzenMenuItem Style="color:black" Text="Campos" Icon="oi-plus" Path="/admin/campo"></RadzenMenuItem>
                            <RadzenMenuItem Style="color:black" Text="ExtrasTipo" Icon="oi-plus" Path="/admin/extrastipo"></RadzenMenuItem>
                            <RadzenMenuItem Style="color:darkred" Text="Extras" Icon="oi-plus" Path="/admin/extras"></RadzenMenuItem>
                            <RadzenMenuItem Style="color:navy" Text="Retos" Icon="oi-plus" Path="/azar/azar">Retos</RadzenMenuItem>
                            <RadzenMenuItem Style="color:navy" Text="Tipos Retos" Icon="oi-plus" Path="/azar/tiposazar"></RadzenMenuItem>
                        </RadzenMenuItem> 
        </RadzenMenu>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Salir</button>

    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Registrar se</a>
        <a href="authentication/login">Entrar</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
