@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a href="players/misdatos">  Mis Datos  </a>
        <RadzenMenu>
                        <RadzenMenuItem Text="Administracion" Icon="home" >
                            <RadzenMenuItem Text="Organizaciones" Icon="oi-plus" Path="/admin/organizacion"/>
                            <RadzenMenuItem Text="Jugadores" Icon="oi-plus" Path="/admin/player"/>
                            <RadzenMenuItem Text="Campos" Icon="oi-plus" Path="/admin/campo"/>
                            <RadzenMenuItem Text="ExtrasTipo" Icon="oi-plus" Path="/admin/extrastipo"/>
                            <RadzenMenuItem Text="Extras" Icon="oi-plus" Path="/admin/extras"/>
                            <RadzenMenuItem Text="Retos" Icon="oi-plus" Path="/azar/azar"/>
                            <RadzenMenuItem Text="Tipos Retos" Icon="oi-plus" Path="/azar/tiposazar"/>
                        </RadzenMenuItem> 
        </RadzenMenu>
        <a href="authentication/profile">Hola crayola, @context.User.Identity?.Name!</a>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Salir</button>

    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Registrar se</a>
        <a href="authentication/login">Entrar</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
