
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TorneHillos</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/players/misdatos">
                        <span class="oi oi-plus" aria-hidden="true"></span> Mis Datos
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/player/">
                        <span class="oi oi-plus" aria-hidden="true"></span> Jugadores
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/api/G120Player">
                        <span class="oi oi-plus" aria-hidden="true"></span> Api Player
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <RadzenMenu>
                        <RadzenMenuItem Text="Administracion" Icon="home" >
                            <RadzenMenuItem Text="Organizaciones" Icon="oi-plus" Path="/admin/organizacion"/>
                            <RadzenMenuItem Text="Jugadores" Icon="oi-plus" Path="/admin/player"/>
                        </RadzenMenuItem> 
                    </RadzenMenu>
                </div>
                <div class="nav-item px-3">
                    <RadzenMenu>
                        <RadzenMenuItem Text="Sistema" Icon="home" >
                            <RadzenMenuItem Text="Bitacoara" Icon="oi-plus" Path="/bitacora"/>
                            <RadzenMenuItem Text="Estados" Icon="oi-plus" Path="/sistema/estado"/>
                        </RadzenMenuItem> 
                    </RadzenMenu>
                </div>
                


                <div class="nav-item px-3">
                <NavLink class="nav-link" href="/identity/account/logout">
                    <span class="oi oi-power-standby" aria-hidden="true"></span>LogOUT
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                <NavLink class="nav-link" href="/identity/account/login">
                    <span class="oi oi-lock-locked" aria-hidden="true"></span> LogIN
                </NavLink>
                </div>
            </NotAuthorized>
                    
        </AuthorizeView>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
