@page "/torneo/categoriaedit/{torneoid:int}/"
@page "/torneo/categoriaedit/{torneoid:int}/{categoriaid:int}"
@inherits CategoriaEditBase
@inject NotificationService NS
@using GolfV12.Shared

<h3>@ButtonTexto Categoria del Torneo </h3>
@if (LaCategoria == null)
{
    <div class="spinner"></div>
} else
{
  <RadzenCard>   
  <RadzenTemplateForm TItem="G208CategoriaT" Data=@LaCategoria Submit=@AddCat >
      <div class="form-grup row">
          <label for="torneo" class="col-sm-3 col-form-label">Torneo</label>
          <div class="col-sm-9">
              <RadzenLabel Name="Torneo" Text="@($"{ElTorneo.Titulo} {ElTorneo.Campo} ")"/>
              
          </div>
      </div>
      
      <div class="form-grup row">
          <label for="titulo" class="col-sm-3 col-form-label">Titulo</label>
          <div class="col-sm-9">
              <RadzenTextBox Name="Titulo" @bind-Value=@LaCategoria.Titulo  />
              
          </div>
      </div>
      <div class="form-grup row">
          <label for="desc" class="col-sm-3 col-form-label">Descripcion</label>
          <div class="col-sm-9">
              <RadzenTextArea Name="Desc" @bind-Value=@LaCategoria.Desc  />
              
          </div>
      </div>
      <div class="form-grup row">
          <label for="bandera" class="col-sm-3 col-form-label">Bandera</label>
          <div class="col-sm-9">
              <RadzenDropDown Name="Bandera" AllowClear="true" Class="w-50" 
                FilterCaseSensitivity="FilterCaseSensitivity.Default" FilterOperator="StringFilterOperator.Contains" 
                AllowFiltering="true" Data=@LasBanderas @bind-Value=@LaCategoria.Bandera
                            ValueProperty="Id" TextProperty="Color"/>
              
          </div>
      </div>
      <div class="form-grup row">
          <label for="numjugadores" class="col-sm-3 col-form-label">Jugadores</label>
          <div class="col-sm-9">
              <RadzenNumeric Name="NumJugadores" @bind-Value=@LaCategoria.NumJugadores Min=0 Max=999 />
              
          </div>
      </div>

        @if (@CategoriaId > 0)
        {
            <div class="form-grup row">
                <label for="status" class="col-sm-3 col-form-label">Borrar este registro?</label>
                <div class="col-sm-9">
                    SI!<RadzenSwitch Name="Status" @bind-Value=@LaCategoria.Status />NO!         
                </div>
            </div>   
        }

        <div class="form-grup row">
            <div class="col-sm-12">
                <NavLink class="nav-link" href="@($"/torneo/categoria/{TorneoId}")">Cancelar</NavLink>
                <RadzenButton ButtonType="ButtonType.Submit" Text="@ButtonTexto" /> 
            </div>
      </div>
        
    </RadzenTemplateForm>
    </RadzenCard>
}

@code {
    async void AddCat()
    {
        await SaveCat();
        ShowNotification(ElMesage);
    }
    public void ShowNotification(NotificationMessage message)
    {
        NS.Notify(message);
    }
}