@page "/torneo/fechatedit/{torneoid:int}/"
@page "/torneo/fechatedit/{torneoid:int}/{fechaid:int}"
@inherits FechaTEditBase
@inject NotificationService NS
@using GolfV12.Shared

<h3>@ButtonTexto Fecha de la ronda </h3>
@if (LaFecha == null)
{
    <div class="spinner"></div>
} else
{
  <RadzenCard>   
  <RadzenTemplateForm TItem="G204FechaT" Data=@LaFecha Submit=@AddFecha >
      <div class="form-grup row">
          <label for="torneo" class="col-sm-3 col-form-label">Torneo</label>
          <div class="col-sm-9">
              <RadzenLabel Name="Torneo" Text="@($"{ElTorneo.Titulo} {ElTorneo.Campo} ")"/>
              
          </div>
      </div>
      
      <div class="form-grup row">
          <label for="ronda" class="col-sm-3 col-form-label">Ronda</label>
          <div class="col-sm-9">
              <RadzenNumeric Name="Ronda" @bind-Value=@LaFecha.Ronda Disabled="true" ShowUpDown="false"  />
              
          </div>
      </div>
      <div class="form-grup row">
          <label for="Fecha" class="col-sm-3 col-form-label">Fecha</label>
          <div class="col-sm-9">
              <RadzenDatePicker Name="Ronda" @bind-Value=@LaFecha.Fecha DateFormat="d" />
              
          </div>
      </div>
        
        @if (@FechaId > 0)
        {
            <div class="form-grup row">
                <label for="status" class="col-sm-3 col-form-label">Borrar este registro?</label>
                <div class="col-sm-9">
                    SI!<RadzenSwitch Name="Status" @bind-Value=@LaFecha.Status />NO!         
                </div>
            </div>   
        }

        <div class="form-grup row">
            <div class="col-sm-12">
                <NavLink class="nav-link" href="@($"/torneo/fechat/{TorneoId}")">Cancelar</NavLink>
                <RadzenButton ButtonType="ButtonType.Submit" Text="@ButtonTexto" /> 
            </div>
      </div>
        
    </RadzenTemplateForm>
    </RadzenCard>
}

@code {
    async void AddFecha()
    {
        await SaveFecha();
        ShowNotification(ElMesage);
    }
    public void ShowNotification(NotificationMessage message)
    {
        NS.Notify(message);
    }
}